@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    font-family: "Roboto";
    text-align: center;
}

.mainBody {
    font-family: "Roboto";
    color: black;
    font-size: 150%;
}

.button {
    font-size: 200%;
}

.button:hover {
    font-style: italic;
}

