@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    font-family: "Roboto";
    text-align: center;
    color: black;
}

.mainBody {
    font-size: 150%;
}

.clickButton {
    font-size: 100%;
}

.clickButton:hover {
    font-weight: bold;
}

.hidden {
    display: none;
}