@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    font-family: "Roboto";
    text-align: center;
    color: black;
}

.mainBody {
    font-size: 125%;
}

.clickButton {
    font-size: 125%;
}

.clickButton:hover {
    font-weight: bold;
}

.rollFail {
    color: red;
}

.rollGood {
    color: green;
}

.jackpot {
    color: gold
}

.hidden {
    display: none;
}
